.search {
  border-radius: 2.4rem;
  height: 4.8rem;
  width: 100%;
  border: 0.1rem solid var(--grey-a);
  padding: 0 2rem;

  &:focus-within {
    border-color: var(--grey-c);
  }

  &--small {
    height: 4.4rem;
    padding: 0 1.6rem;
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
  }

  svg {
    height: 1.7rem;
    fill: var(--grey-b);
  }

  input {
    background: none;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    width: 100%;
  }

  input + button svg {
    opacity: 0;
    height: 2rem;
  }

  input + button {
    pointer-events: none;
    display: flex;
    align-items: center;
  }

  input:not(:placeholder-shown) + button svg {
    opacity: 1;
  }

  input:not(:placeholder-shown) + button {
    pointer-events: all;
  }
}
